<div class="sign-up container">
  <h1 style="text-decoration: underline;">Sign Up!</h1>
  <br>
  <form #signUp="ngForm" (ngSubmit)="onSignUp(signUp)">
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input
        type="text"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="Enter username"
        ngModel
        required
        name="username"
      />
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        ngModel
        name="email"
        required
        email
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
        ngModel
        name="password"
        required
        minlength="6"
      />
      <!-- need password confirmation to actually check password -->
      <label for="exampleInputPassword1">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Confirm Password"
        ngModel
        name="password conf"
        required
        minlength="6"
      />
    </div>
    <br>
    <button type="submit" class="btn btn-primary" [disabled]="!signUp.valid">Submit</button>
    <a [routerLink]="'/sign-in'">Already a user? Sign in!</a>
  </form>
</div>
